
/* Style the navigation menu */
body {
    margin-left: 40px;
    padding: 15px;

    /* make it look decent enough */
/*    background: #232323;
    color: #cdcdcd;*/

    max-width: 1200px;
    font-family: "Avenir Next", "Avenir", sans-serif;
}



/* Menue ---------------------------*/
#menuToggle {
    display: block;
    position: fixed;
    top: 2px;
    left: 1px;
    margin-top: 10px;
    margin-left: 10px;

    z-index: 1;

    -webkit-user-select: none;
    user-select: none;
}

#menuToggle a {
    text-decoration: none;
    color: #232323;

    transition: color 0.3s ease;
}

#menuToggle a:hover {
    color: tomato;
}


#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;

    cursor: pointer;

    opacity: 0;
    /* hide this */
    z-index: 2;
    /* and place it over the hamburger */

    -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: #cdcdcd;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked~span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
    position: absolute;
    width: 120px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;

    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */

    transform-origin: 0% 0%;
    transform: translate(-100%, 0);

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
    padding: 10px 0;
    font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked~ul {
    transform: none;
}

div.center {
  text-align: center;
  margin:0 auto;
}


/* Forms ---------------------------*/
form li {
    display: block;
    margin: 0;
    padding: 4px 5px 2px 9px;
    position: relative;
}

form li:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

input.button_text {
    box-shadow:inset 0px -3px 7px 0px #29bbff;
    background:linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
    background-color:#2dabf9;
    border-radius:3px;
    border:1px solid #0b0e07;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    padding:9px 23px;
    text-decoration:none;
    text-shadow:0px 1px 0px #263666;
}
input.button_text:hover {
    background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
    background-color:#0688fa;
}
input.button_text:active {
    position:relative;
    top:1px;
}
textarea.configs{
    width: 900px;
    height: 450px;
/*    display: block;
    margin-left: auto;
    margin-right: auto;*/
    background-color : #D1D1D1;
    border:1px solid #CECECE;
    box-shadow: 0 0 10px #719ECE;
}
textarea.configs:focus {
    outline: none !important;
    border:1px solid red;
    box-shadow: 0 0 10px #719ECE;
}

/* config_editor ---------------------------*/
#config_editor {
    width:900px; 
    margin: 0 auto;
}

.alert {
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;
}
.warn {
  padding: 20px;
  background-color: #E89601; 
  color: white;
  margin-bottom: 15px;
}
.message {
  padding: 20px;
  background-color: #1E981D;
  color: white;
  margin-bottom: 15px;
}
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}

/* Graph ---------------------------*/
.graph_container {
    max-width: 1200px;
    /*border:1px solid black;*/

}
.change_graph {
    margin-left: 40px;
    padding: 15px;
    font-family: "Avenir Next", "Avenir", sans-serif;
    font-size: .9em;
}

/* blueTable---------------------------*/


table.list {
    margin-left: 60px;
    margin: 0 auto;
}

table tr:not(.fble_htr) {
    counter-increment: rowNumber;
}

table tr:not(.fble_htr) td:first-child::before {
    content: counter(rowNumber);
    min-width: 1em;
    margin-right: 0.5em;
}

table.paleBlueRows {
    font-family: "Times New Roman", Times, serif;
    border: 1px;
    width: 350px;
    height: 200px;
    text-align: left;
    border-collapse: collapse;
    min-width: 900px;
    /*background: #fff;*/
}

table.paleBlueRows td.firstcol {
    white-space:nowrap;
    text-align: left;
}
table.paleBlueRows td,
table.paleBlueRows th {
    border: 1px;
    padding: 3px 2px;
    vertical-align: top;
}

table.paleBlueRows tbody td {
    font-size: 13px;
}

table.paleBlueRows tr {
    border: 3px solid #FFFFFF;
}
table.paleBlueRows tr.horizontal:nth-child(even) {
    background: #D7EBFB;
}

/*  Define the background color for all the ODD table columns  */
table.paleBlueRows tr.vertical td:nth-child(even){ 
    background: #D7EBFB;
}
table.paleBlueRows tr:hover {
    border: 2px solid #36A2EB;
}

table.paleBlueRows thead {
    background: #36A2EB;
    border-bottom: 5px solid #FFFFFF;
}

table.paleBlueRows thead th {
    font-size: 17px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    border-left: 2px solid #FFFFFF;
    vertical-align: middle;
}

table.paleBlueRows thead th:first-child {
    border-left: none;
}

table.paleBlueRows tfoot {
    font-size: 14px;
    font-weight: bold;
    color: #333333;
    background: #D7EBFB;
    border-top: 3px solid #444444;
}

table.paleBlueRows tfoot td {
    font-size: 14px;
}

table.paleBlueRows tfoot .links {
    text-align: right;
}

table.paleBlueRows tfoot .links a {
    display: inline-block;
    background: #36A2EB;
    color: #FFFFFF;
    padding: 2px 8px;
    border-radius: 5px;
}


/*cinereousTable*/
table.cinereousTable {
    border: 6px solid #948473;
    background-color: #FFE3C6;
    width: 30%;
    text-align: center;
}

table.cinereousTable td,
table.cinereousTable th {
    border: 1px solid #948473;
    padding: 4px 4px;
}

table.cinereousTable tbody td {
    font-size: 13px;
}

table.cinereousTable thead {
    background: #948473;
    background: -moz-linear-gradient(top, #afa396 0%, #9e9081 66%, #948473 100%);
    background: -webkit-linear-gradient(top, #afa396 0%, #9e9081 66%, #948473 100%);
    background: linear-gradient(to bottom, #afa396 0%, #9e9081 66%, #948473 100%);
}

table.cinereousTable thead th {
    font-size: 17px;
    font-weight: bold;
    color: #F0F0F0;
    text-align: left;
    border-left: 2px solid #948473;
}

table.cinereousTable thead th:first-child {
    border-left: none;
}

table.cinereousTable tfoot {
    font-size: 16px;
    font-weight: bold;
    color: #F0F0F0;
    background: #948473;
    background: -moz-linear-gradient(top, #afa396 0%, #9e9081 66%, #948473 100%);
    background: -webkit-linear-gradient(top, #afa396 0%, #9e9081 66%, #948473 100%);
    background: linear-gradient(to bottom, #afa396 0%, #9e9081 66%, #948473 100%);
}

table.cinereousTable tfoot td {
    font-size: 16px;
}


/* Modal ---------------------------*/
#modal {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    margin: 10px;
    background: #ebeae8;
    /*background: #D7EBFB;*/
    border-radius: 30px;
    border: 5px solid #36A2EB;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: 3px 3px 5px 6px #ccc;
    /* Firefox 3.5 - 3.6 */
    box-shadow: 3px 3px 5px 6px #ccc;
    z-index: 10;
    /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

div.next_img {
    float: right;
}

div.prev_img {
    float: left;
}

button.hide,
div.next_img,
div.prev_img {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    border-radius: 50%;
}

button.hide:hover,
div.next_img:hover,
div.prev_img:hover {
    background-color: #36A2EB !important;
}

.modal-header {
    text-align: right;
}




/* Arrow ---------------------------*/
.arrow {
  border: solid #fff;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}



/* Calibrate ---------------------------*/
#save_calibrate {
    display: none;
}
.calibrate {
    width:300px;
    padding: 5px 0px 10px 15px;
    
}
.new {
    background-color: red;
}
.original {
    background-color: yellow;
}

/* Status Page container ---------------------------*/

.container {
    position: relative;
    top: 2%;
    left: 42%;
    transform: translate(-40%, -40%);
    /*border:1px solid black;*/

}

.toggle-btn {
    width: 40px;
    height: 18px;
    background: red;
    border-radius: 30px;
    padding: 4px;
    transition: all 400ms ease-in-out;
}

.toggle-btn>.circle {
    width: 18px;
    height: 18px;
    background: white;
    border-radius: 50%;
    transition: all 400ms ease-in-out;
}

.toggle-btn.active {
    background: #28d102;
}

.toggle-btn.active>.circle {
    margin-left: 22px;
}


/* Log Viewer ---------------------------*/
div.container_nav ul {
    list-style-type: none;
    display: flex;
}
div.container_nav ul li{
    /*flex-basis: 50px;*/
    margin-left: 10px;
}
.container_log {
    margin-left: 40px;
    padding: 15px;
    white-space: pre-wrap;

    /* make it look decent enough */
    background: #232323;
    color: #cdcdcd;
}

a:link, a:visited, a:hover, a:focus, a:active {
    color: #666666;
}

.container_log .preformatted {
    /*    font-family: monospace;
    white-space: pre;*/
    overflow: scroll;
    height: 640px;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    overflow-x: hidden;

}

.container_log .preformatted::-webkit-scrollbar {
    width: 12px;
    /* width of the entire scrollbar */
}

.container_log .preformatted::-webkit-scrollbar-track {
    background: #cdcdcd;
    /* color of the tracking area */
}

.container_log .preformatted::-webkit-scrollbar-thumb {
    background-color: orange;
    /* color of the scroll thumb */
    border-radius: 24px;
    /* roundness of the scroll thumb */
    border: 1px solid #cdcdcd;
    /* creates padding around scroll thumb */
}


/* Footer ---------------------------*/
.footer-basic {
    padding:40px 0;
    background-color:#ffffff;
    color:#4b4c4d;
}

.footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
}

.footer-basic li {
    padding:0 10px;
    display: inline;
}

.footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
}

.footer-basic ul a:hover {
    opacity:1;
}

.footer-basic .couter {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
}

